<strong>Olá, {{ deliveryman }} </strong>
<p>A sua entrega foi concela, abaixo estão as informações do cancelamento:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Descrição do problema: </strong> {{ description }} <br />
</p>
