<strong>Olá, {{ delivery }} </strong>
<p>Você acabou de receber uma nova entrega, confira os dados abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destino: </strong> {{ recipient }} <br />
</p>
